@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .onAnimation {
    transform: translateY(-20px);
    scale: 0.9;
    transition: 0.9s;
    opacity: 0.2;
    z-index: 0;
  }

  .endAnimation {
    display: block;
    transform: translateY(20px);
    opacity: 0;
    z-index: -1;
  }

  .transition {
    transition:
      transform 0.9s ease-in-out,
      scale 0.8s ease-in-out,
      opacity 0.8s ease-in-out;
    z-index: 2;
  }
}
