@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 13, 13, 18;
  }
}

body {
  background: rgb(var(--background-rgb));
  display: grid;
  place-items: center;
  padding: 0 20px;
}
